server:
  port: 5004

spring:
  application:
    name: category-service

  datasource:
    url: "jdbc:mysql://localhost:3306/salon_categorydb?createDatabaseIfNotExist=true"
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: $7090Ashok
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: gedelashipa.1321@gmail.com
    password: rlxz dggl spmd byfd
    properties:
      mail:
        smtp:
          auth: true
        starttls:
          enable: true
eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "CATEGORY"
    description: "Category API For Salon Booking System"
    version: "1.0.0"
